body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.mainContent, .header, .addEntries, .mainPageContent{
    margin: auto;
    width: 50em;
}

.header {
    text-align: center;
}

ul {
    width: 50em;
    list-style-type: none;
    padding: 10px;
    /*border: 5px midnightblue;*/
    border-radius: 5px;
    box-shadow: 2px 3px;
    background-color: powderblue;
}

li {
    /*
    background-color: lawngreen;
    */
}

.tagList {
    width: 5em;
    box-shadow: 1px 1px;
    background-color: azure;
}

#commentsList {
  margin: auto;
  width: 45em;
  background-color: aquamarine;
  margin-top: 1em;
}

#commentsList li {
}

#postComment {
  margin-top: 2em;
}

textarea, #titleTextBox {
    padding: 10px;
    width: 100%;
    border-radius: 1em;
    background-color: whitesmoke;
}

textarea {
    height: 30em;
}

.inputTextFieldForComments {
    height: 2em;
    width: 30%;
    border-radius: 1em;
    background-color: whitesmoke;

}
