body {
    background-color: whitesmoke;
}

.mainContent, .header, .addEntries{
    margin: auto;
    width: 50em;
}

.header {
    text-align: center;
}

ul {
    width: 50em;
    list-style-type: none;
    padding: 10px;
    /*border: 5px midnightblue;*/
    border-radius: 5px;
    box-shadow: 2px 3px;
    background-color: powderblue;
}

li {
    /*
    background-color: lawngreen;
    */
}

textarea, #titleTextBox {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
}

textarea {
    height: 30em;
}