<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loggingAppStyles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Logging application</title>
</head>
<body>
<div th:fragment="header(title)" class="header">
    <a th:href="@{/}">Main page</a>
    <a th:href="@{/learningLog}">Learning log</a>
    <a th:href="@{/journal}">Random scribbles</a>
    <h1 th:text="${title}"></h1>
</div>

    <div th:fragment="mainContent" class="mainContent">
        <table>
            <ul th:each="entry : ${entries}">
                <span>Author:</span>
                <li th:text="${entry.author}"></li><br>
                <span>Title:</span>
                <li th:text="${entry.title}"></li><br>
                <span>Content:</span>
                <li th:utext="${entry.content}"></li><br>
                <span>Posted at:</span>
                <li th:text="${entry.date}"></li>
                <span>Tags:</span>
                <ul th:each="tag : ${tags}" class="tagList">
                    <li th:text="${tag.tag}"></li>
                </ul>
                <li><a th:href="${link} + {id}(id=${entry.id})">Delete</a></li><br>
                <br>
            </ul>
        </table>
    </div>

<div th:fragment="addEntries(link)" class="addEntries">
    <form th:action="${link}" method="post">

        <input type="hidden" name="author" value="Jussi Niemi">
        <span>Title:</span><br>
        <input type="text" name="title" id="titleTextBox"><br>
        <span>Content:</span><br>
        <textarea name="content"></textarea><br>
        <span>Tag:</span>
        <input type="text" name="tag" class="inputTextFieldForComments"><br>
        <input type="submit" name="submit" value="Add entry!">
    </form>
</div>

</body>
</html>