<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loggingAppStyles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Logging application</title>
</head>
<body>
<div th:replace="fragments/layout :: header(title='Main page')"></div>

<div class="mainPageContent">
    <h3>Latest learning log entries:</h3>
    <ul th:each="log : ${logEntries}">
        <li><a th:text="${log.title}" ></a></li>
    </ul>
    <h3>Latest journal entries:</h3>
    <ul th:each="journal : ${journalEntries}" href="#">
        <li><a th:text="${journal.title}" th:href="@{/journalEntry/{id}(id=${journal.id})}"></a></li>
    </ul>
</div>

</body>
</html>