<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loggingAppStyles.css}">
    <title>Logging application</title>
</head>
<body>

    <div th:replace="fragments/layout :: header(title='Journal')"></div>

<!--    <div th:replace="fragments/layout :: mainContent(link=@{/deleteJournalPost/{id}(id=${entry.id})})"></div> -->

    <div th:fragment="mainContent" class="mainContent">
        <table>
            <ul th:each="entry : ${entries}">
                <span>Author:</span>
                <li th:text="${entry.author}"></li><br>
                <span>Title:</span>
                <li th:text="${entry.title}"></li><br>
                <span>Content:</span>
                <li th:utext="${entry.content}"></li><br>
                <span>Posted at:</span>
                <li th:text="${entry.date}"></li>
                <li><a th:href="@{/deleteJournalPost/{id}(id=${entry.id})}">Delete</a></li><br>
                    <ul th:each="comment : ${journalComments}" id="commentsList" th:if="${entry.id} == ${comment.journalEntry.id}">
                        <li th:text="${comment.commenter}"></li>
                        <li th:text="${comment.journalEntryCommentContent}"></li>
                    </ul>


                <form th:action="@{/commentJournalPost}" method="post" id="postComment">
                    <span>Comment:</span>
                    <input type="text" name="journalEntryCommentContent" class="inputTextFieldForComments">
                    <span>Commenter:</span>
                    <input type="text" name="commenter" class="inputTextFieldForComments">
                    <input type="hidden" name="journalId" th:value="${entry.id}">
                    <input type="submit" name="submit" value="Add comment!">
                </form>
                <br>
            </ul>
        </table>
    </div>

    <div th:replace="fragments/layout :: addEntries(link=@{/journal})"></div>

</body>
</html>